<!-- Services -->
<section class="bg-black page-section" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading text-uppercase">Services & Pricing</h2>
        <ul>
          <li>
            Service pricing includes free bike collection and return. There are
            no call out fees.
          </li>
          <li>
            Small repairs can be done on the spot. A minimum labour charge of
            {{site.data.sitetext[site.locale].services.on_the_spot_repairs.price}}
            does apply to small mobile repairs.
          </li>
          <li>
            Family/group discounts are available for three or more bikes from
            the same location.
          </li>
          <li>
            If you live outside the service area or you need something done
            quickly, bikes can be dropped off at the Eungai Creek workshop where
            no minimum charge applies. Please call ahead to make an appointment.
          </li>
        </ul>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-lg-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <span>General Service</span>
              <span class="float-right">
                {{
                site.data.sitetext[site.locale].services.general_service.price
                }}
              </span>
              <hr />
            </h5>
            <div class="card-text">
              <ul>
                <li>Degrease drivetrain</li>
                <li>Inspect frame and components</li>
                <li>Gear adjustment</li>
                <li>Brake adjustment</li>
                <li>Headset & bottom bracket adjustment</li>
                <li>Check and adjust hubs for movement</li>
                <li>Wheel true on bike</li>
                <li>Lubricate cables and drivetrain</li>
                <li>Check tyre pressure</li>
                <li>Torque all nuts & bolts</li>
                <li>Test Ride</li>
                <li>Free bike collection & return</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <span>Full Service</span>
              <span class="float-right">
                {{ site.data.sitetext[site.locale].services.full_service.price
                }}
              </span>
              <hr />
            </h5>
            <div class="card-text">
              <ul>
                <li>Full bike wash</li>
                <li>Degrease drivetrain</li>
                <li>Inspect frame and components</li>
                <li>Headset overhaul</li>
                <li>Bottom bracket overhaul</li>
                <li>Gear adjustment</li>
                <li>Brake adjustment</li>
                <li>Check and adjust hubs for movement</li>
                <li>Wheel true in stand</li>
                <li>Lubricate cables and drivetrain</li>
                <li>Check tyre pressure</li>
                <li>Torque all nuts & bolts</li>
                <li>Test Ride</li>
                <li>Free bike collection & return</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <span>Overhaul Service</span>
              <span class="float-right">
                {{
                site.data.sitetext[site.locale].services.overhaul_service.price
                }}
              </span>
              <hr />
            </h5>
            <div class="card-text">
              <ul>
                <li>Complete strip down to bare frame & rebuild</li>
                <li>Detailed inspection of components and frame</li>
                <li>Bottom bracket overhaul</li>
                <li>Headset overhaul</li>
                <li>Front and rear hub overhaul</li>
                <li>Full bike wash</li>
                <li>Degrease drivetrain</li>
                <li>Replace all cables (included in price)</li>
                <li>Adjust gears</li>
                <li>Adjust brakes</li>
                <li>Wheel true in stand</li>
                <li>Inspect & add tubeless sealant (If applicable)</li>
                <li>Lubricate drivetrain</li>
                <li>Check tyre pressure</li>
                <li>Torque all nuts and bolts</li>
                <li>Test ride</li>
                <li>Free bike collection & return</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <span>Kids Bike Service</span>
              <span class="float-right">
                {{
                site.data.sitetext[site.locale].services.kids_bike_service.price
                }}
              </span>
              <hr />
            </h5>
            <div class="card-text">
              <ul>
                <li>Inspect frame and components</li>
                <li>Adjust headset</li>
                <li>Adjust bottom bracket</li>
                <li>Check and adjust hubs for movement</li>
                <li>Brake adjustment</li>
                <li>Check and adjust chain tension</li>
                <li>Lubricate cables and drivetrain</li>
                <li>Check tyre pressure</li>
                <li>Torque all nuts and bolts</li>
                <li>Free bike collection & return</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <div class="card-title">
              <h5>Assemble Boxed Bike</h5>
              <div class="row no-gutters">
                <div class="col">
                  <small>Kids from</small>
                  <b
                    >{{
                    site.data.sitetext[site.locale].services.assemble_boxed_bike.price.kids
                    }}</b
                  >
                </div>
                <div class="col">
                  <small>Adults from</small>
                  <b
                    >{{
                    site.data.sitetext[site.locale].services.assemble_boxed_bike.price.adults
                    }}</b
                  >
                </div>
              </div>
              <hr />
            </div>
            <div class="card-text">
              <ul>
                <li>Inspect frame and components</li>
                <li>Ensure correct assembly of bicycle</li>
                <li>Adjust headset</li>
                <li>Adjust bottom bracket</li>
                <li>Check and adjust hubs for movement</li>
                <li>Brake adjustment</li>
                <li>Gear adjustment</li>
                <li>Basic wheel true</li>
                <li>Torque all nuts and bolts</li>
                <li>Check tyre pressure</li>
                <li>Test ride</li>
                <li>Free bike collection & return</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <div class="card-title">
              <div class="row no-gutters">
                <div class="col">
                  <h5>On the Spot Repairs</h5>
                </div>
                <div class="col text-right">
                  <b
                    >{{
                    site.data.sitetext[site.locale].services.on_the_spot_repairs.price
                    }}</b
                  >
                  <small>+ parts</small>
                </div>
              </div>
              <hr />
            </div>
            <div class="card-text">
              Minor mobile repairs have a minimum labour charge of
              {{site.data.sitetext[site.locale].services.on_the_spot_repairs.price}}.<br />Examples
              of minor repairs include:
              <ul>
                <li>Bike tyre or tube replacement</li>
                <li>Pram tyre or tube replacement</li>
                <li>Cable replacement</li>
                <li>Gear adjustment</li>
                <li>Brake adjustment</li>
                <li>Basic component/accessory fitting.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {% for image in site.data.style.services-images %}
      <div class="col-4">
        <div class="card h-75">
          <img
            src="{{ image }}"
            class="card-img-top h-100"
            alt="Services Image"
          />
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col">
        <p>
          Sometimes your bike may need new components or accessories installed.
          I will contact you before any additional items are fitted before
          proceeding with the work. Most of the time these items can be
          installed at no extra labour charge if you opt for a service.
        </p>
        <p>
          If you are looking for something specific to be done to your bike,
          please call or email to discuss your needs. Most bicycle related work
          is possible. Some examples of specific work include:
        </p>
      </div>
    </div>
    <ul class="row">
      <li class="offset-1 col-5">Tubeless tyre setup & inflation</li>
      <li class="offset-1 col-5">Cable fitting & adjustment</li>
      <li class="offset-1 col-5">Tubular tyre fitting</li>
      <li class="offset-1 col-5">Electronic gearing adjustment</li>
      <li class="offset-1 col-5">Spoke replacement</li>
      <li class="offset-1 col-5">Derailleur hanger alignment</li>
      <li class="offset-1 col-5">Custom wheel building</li>
      <li class="offset-1 col-5">Hydraulic brake bleeding & servicing</li>
      <li class="offset-1 col-5">Frame alignment checks</li>
      <li class="offset-1 col-5">Disc brake decontamination</li>
      <li class="offset-1 col-5">Bottom bracket tapping & facing</li>
      <li class="offset-1 col-5">Custom bike builds</li>
    </ul>
  </div>
</section>
<!-- End Services -->
