<!-- Service Area -->
<section class="page-section" id="service-area">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section-heading text-uppercase">Service Area</h2>
        <p>
          I am currently mobile within the service area Sundays and Thursdays.
          If you live outside the service area, bikes can be dropped off at the
          Eungai Creek workshop where no minimum charge applies. Please call
          ahead to arrange a time.
        </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col text-center">
        <img src="assets/img/map.webp" alt="Map" />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <p>
          The mobile service area includes Bellingen, Raleigh, Urunga, Valla
          Beach, Nambucca Heads, Macksville, Scotts Head, Stuarts Point, Eungai
          Rail, Eungai Creek and South West Rocks.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End Service Area -->
